#root{
  min-height: 100vh;
}
main {
  display:grid;
  grid-template-rows: 64px 1fr 70px;
  min-height: 100vh;
  background: #141f25;
}
main > header{
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 3px solid #253032;
}
.brand {
  display: flex;
  align-items: center;
  gap: 11px;
}
.brand > span {
  display: grid;
  width: 40px;
  height: 40px;
  place-items: center;
  border: 1px solid #cf7d1f;
  border-radius: 10px;
  color: #cf7d1f;
  font-family: monospace;
  font-weight: bold;
  font-size: large;

}
.brand div {
  display: grid;
  gap: 5px;
  font-size: 20px;
}
.brand strong {
  color: #cf7d1f;
}
.brand small {
  color: #718082;
  font-size: 11px;
}
.engine{
  display: flex;
  align-items: center;
  gap: 7px;
  margin-left: auto;
  color: #829092;
  font-size: 12px;
}
.engine > span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #55e6a5;
}
.workspace {
  display: grid;
  grid-template-columns: 240px 1fr 280px;
  gap: 4px;
  background: #202a2c;
}
.workspace h2 {
  height: 48px;
  margin: 0;
  padding: 20px 20px;
  border-bottom: 2px solid #1e282a;
  color: #829092;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;


}

.workspace .graph {
  background: #0c1517;

}
main >footer {
  display: flex ;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
  border-top: 1px solid #202a2c;
  color: #000000;
  font-size: 16px;
}
main >footer button {
  background: #10201f;
  width: 35px;
  height: 36px;
  border: 5px solid #315653;
  color: #55e6a5;
  transition: font-size 0.2s ease;
}
main > footer button:hover{
  font-size: 20px;
  color: white;
  border: none;
}
.progress{
  height: 3px;
  flex: 1;
  border-radius: 5px ;
  background:#273234 ;
}