#root{
  min-height: 100vh;
}
main {
  display:grid;
  grid-template-rows: 64px 1fr 70px;
  min-height: 100vh;
  background: #141f25;
}
main > header{
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 3px solid #253032;
}
.brand {
  display: flex;
  align-items: center;
  gap: 11px;
}
.brand > span {
  display: grid;
  width: 40px;
  height: 40px;
  place-items: center;
  border: 1px solid #cf7d1f;
  border-radius: 10px;
  color: #cf7d1f;
  font-family: monospace;
  font-weight: bold;
  font-size: large;

}
.brand div {
  display: grid;
  gap: 5px;
  font-size: 20px;
}
.brand strong {
  color: #cf7d1f;
}
.brand small {
  color: #718082;
  font-size: 11px;
}
.engine{
  display: flex;
  align-items: center;
  gap: 7px;
  margin-left: auto;
  color: #829092;
  font-size: 12px;
}
.engine > span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #55e6a5;
}
.workspace {
  display: grid;
  grid-template-columns: 240px 1fr 280px;
  gap: 4px;
  background: #202a2c;
}
.workspace h2 {
  height: 48px;
  margin: 0;
  padding: 20px 20px;
  border-bottom: 2px solid #1e282a;
  color: #829092;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;


}

.workspace .graph {
  background: #0c1517;

}
.workspace >section > h2,
.workspace > aside > h2 ,
.query-head{
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid #1e282a;
}
.workspace >aside:first-child{
  display: flex;
  flex-direction: column;
}
.query-head{
  justify-content: space-between;
}
.query-head h2{
  height: auto;
  padding: 0;
  border:  0;
}
.query-head button{
  border: 0;
  color: #829092;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.query-menu {
  display: grid;
  gap: 5px;
  padding: 12px;
}
.query-menu button{
  display: grid;
  grid-template-columns: 24px minmax(0,1fr);
  gap: 6px;
  padding: 11px 9px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #8c9a9c;
  text-align: left;
  cursor: pointer;
  background: transparent;
}
.query-menu button > span {
  color: #536163;
  font-size: 10px;
}
.query-menu code {
  overflow:hidden;
  font-size: 11px;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.query-menu .active {
  border-color: #273234 ;
  color: #c9f7ee;
  background: #10201f;
}
.data-box{
  display: grid;
  gap: 7px;
  margin: auto 14px 14px;
  border: 1px solid #1f2c1f;
  border-radius: 8px;
  font-size: 12px;
  padding: 20px;
}
.data-box span {
  color: #718082;
  font-size: 11px;
}
main >footer {
  display: flex ;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
  border-top: 1px solid #202a2c;
  color: #718082;
  font-size: 16px;
}
main >footer button {
  background: #10201f;
  width: 35px;
  height: 36px;
  border: 2px solid #cf7d1f;
  color: #cf7d1f;
  transition: font-size 0.1s ease;
}
main > footer button:hover{
  font-size: 20px;
}
.progress{
  height: 3px;
  flex: 1;
  border-radius: 5px ;
  background:#536163 ;
}
.graph {
  overflow: hidden;
}
.graph svg {
  display: block;
  width: 100%;
  height: calc(100% - 50px);
  min-height: 480px;
  background-image:
  linear-gradient(#1a292c 1px, transparent 1px),
  linear-gradient(90deg, #1a292c 1px, transparent 1px) ;
  background-size: 32px 32px;
}
.graph line{
  stroke: #667476;
  stroke-width: 2;
}
.graph marker path{
  fill: #cf7d1f;
}
.graph circle{
  fill: #101c1f;
  stroke: #cf7d1f;
  stroke-width: 2;
}
.graph g text{
  fill: white;
  font-size: 13px;
  font-weight: normal;
  text-anchor: middle;

}
.graph .node-type{
  fill: #718082;
  font-size: 12px;
  font-weight: normal;
}
.graph .edge-name {
  fill: #cf7d1f;
  font-family: monospace;
  font-size: 12px;
  text-anchor: middle;
  stroke: #0c1517;
  stroke-width: 5px;
  paint-order: stroke;
}

